
.component-login {
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-background-3);
  color:var(--color-primary);

  &:not(.open) {
    transform:scale(0.8);
    opacity:0;
    pointer-events:none;
  }

  input {
    display:block;
    margin-top:5px;
  }
  button {
    display:block;
    margin-top:25px;
  }
}
