@import '../../style/globals';

@import '../helpers/Login';
@import '../helpers/Nav';

@import './Day';

.component-calendar {
  display: flex;
  flex-direction:column;
  align-items:stretch;
  width:100%;
  height: 100%;

  --color-primary: #3F51B5;
  --color-primary-alt: #7180d2;

  > .main-container {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:wrap;

    position:relative;
    flex-shrink:1;
    flex-grow:1;
    height: 0;
  }
}
